<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong *ngIf="flag === '0'; else elseTitle">{{ 'userChange.TitleAdd' | translate}}</strong>
          <ng-template #elseTitle>
            <strong>{{ 'userChange.TitleEdit' | translate}}</strong>
          </ng-template>
          <button type="button" class="btn btn-sm btn-primary float-right" (click)="back()" ><i class="fa fa-chevron-left"></i>
            Back</button>
        </div>
        <form class="form-horizontal" #addUserForm="ngForm" (ngSubmit) = "addUserForm.valid">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="user_id" >ID: </label>
              <div class="col-md-3">
                <input type="text" *ngIf="flag === '0';else elseUserid" name="id" [(ngModel)]="user.id" 
                (focusout)="checkExistUser()"
                class="form-control"  placeholder="{{ 'userChange.InputID' | translate}}.." required>
                <ng-template #elseUserid>
                  <input type="text" disabled name="id" [(ngModel)]="user.id" 
                  class="form-control">
                </ng-template>
              </div>
              <label class="col-md-1 col-form-label" for="passwprd-no" >{{ 'userChange.Password' | translate}}: </label>
              <div class="col-md-3">
                <input *ngIf="flag === '0';else elsePass" type="password"  
                name="user-password" [(ngModel)]="user.password" 
                class="form-control"  placeholder="{{ 'userChange.InputPass' | translate}}.." required>
                <ng-template #elsePass>
                  <input type="password"  disabled 
                name="password" [(ngModel)]="user.password" 
                class="form-control">
                </ng-template>
              </div>
              <ng-container *ngIf="flag === '0'">
                <label class="col-md-1 col-form-label" for="defect-no" >{{ 'userChange.Repassword' | translate}}: </label>
                <div class="col-md-3">
                  <input type="password" (keyup)="checkRePass()"  name="Repassword" [(ngModel)]="rePassword" class="form-control"  
                  placeholder="{{ 'userChange.InputRePass' | translate}}.." required>
                </div>
              </ng-container>
            </div>
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="defect-no" >{{ 'userChange.Name' | translate}}: </label>
              <div class="col-md-3">
                  <input type="text"  name="user_Name" [(ngModel)]="user.name" class="form-control"  placeholder="{{ 'userChange.Name' | translate}}.." required>
              </div>
              <label class="col-md-1 col-form-label" for="defect-no" >{{ 'userChange.Role' | translate}}: </label>
              <div class="col-md-3">
                <ng-select2  [data]="roles" [value]="user.roleID"  
                [options]="optionsRole" name="role" (valueChanged)="changedRole($event)"
                  [cssImport]=true [disabled]="disable"></ng-select2>
              </div>
              <label class="col-md-1 col-form-label" for="defect-no" >{{ 'userChange.Department' | translate}}: </label>
              <div class="col-md-3">
                <ng-select2 [data]="departments" [value]="user.depID"  
                [options]="optionsDepartment" name="department" (valueChanged)="changedDepartment($event)"
                  [cssImport]=true [disabled]="disable"></ng-select2>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="button" (click)="cancel()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> {{ 'userChange.ButtonCancel' | translate}}</button>
            <button *ngIf="flag === '0'" type="submit" (click)="saveAndNext()"  class="btn btn-sm btn-primary ml-2" 
            [disabled]="!addUserForm.valid || user.roleID === undefined || user.depID ===  undefined || isCheckPass === false">
              <i class="fa fa-check"></i> {{ 'userChange.ButtonSaveNext' | translate}}</button>
            <button type="button" (click)="save()" class="btn btn-sm btn-success ml-2" 
            [disabled]="!addUserForm.valid || user.roleID === undefined || user.depID ===  undefined || isCheckPass === false" ><i class="fa fa-check"></i> {{ 'userChange.ButtonSave' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
