<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-0">
        <div class="card-header">
          <strong>History</strong>
        </div>
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <ng-container *ngIf="user.roleID === 1 || user.roleID === 2">
                <label class="col-md-2 col-form-label" for="receive ID"><strong
                  class="float-right">Mã người đăng ký</strong></label>
                <div class="col-md-2">
                  <input type="text" 
                  [(ngModel)]="userID" 
                  name="receiveID"
                  class="form-control" placeholder="Mã người đăng ký">
                </div>
              </ng-container>
              <label class="col-md-2 col-form-label" for="fromDate"><strong class="float-right">Ngày đăng ký</strong></label>
              <div class="col-md-2">
                <div class="input-group">
                  <input type="text" 
                    placeholder="Start" 
                    id="fromDate" class="form-control" 
                    bsDatepicker
                    [(ngModel)]="time_start"
                    name="time_start"
                    [bsConfig]="bsConfig">
                  <span class="input-group-append">
                    <button class="btn btn-primary" type="button" disabled><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <div class="col-md-2">
                <div class="input-group">
                  <input type="text" 
                    placeholder="End" 
                    id="fromDate" class="form-control" 
                    bsDatepicker
                    [(ngModel)]="time_end"
                    name="time_end"
                    [bsConfig]="bsConfig">
                  <span class="input-group-append">
                    <button class="btn btn-primary" type="button" disabled><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <div class="col-md-2">
                <button type="button" class="btn btn-success btn-block" (click)="search()"><i class="fa fa-search"></i>
                  Search</button>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body mt-1">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Người đăng ký</th>
                  <th>Phòng ban</th>
                  <th>Mã sản phẩm</th>
                  <th>Tên sản phẩm</th>
                  <th>Số lượng</th>
                  <th>Người duyệt</th>
                  <th>Ngày đăng ký</th>
                  <th>Ngày duyệt</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let history of historys; let i = index">
                  <td>{{history.userID}}</td>
                  <td>{{history.depID}}</td>
                  <td>{{history.productID}}</td>
                  <td>{{history.productName}}</td>
                  <td>{{history.qty}}</td>
                  <td>{{history.accept_ID}}</td>
                  <td>{{history.register_Date | date: "MM/dd/yyyy, h:mm:ss a"}}</td>
                  <td>{{history.accept_Date | date: "MM/dd/yyyy, h:mm:ss a"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="5">
        </pagination>
        </div>
      </div>
    </div>
  </div>
</div>