<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-0">
        <div class="card-header">
          <strong>Quản lý sản phẩm</strong>
        </div>
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="receive ID"><strong
                  class="float-right">Mã Code</strong></label>
              <div class="col-md-3">
                <input type="text" 
                [(ngModel)]="receiveID" 
                (ngModelChange)="getReceive($event)"
                name="receiveID"
                class="form-control" placeholder="Nhập mã Code">
              </div>
              <div class="col-md-3">
                <button (click)="clear()" class="btn btn-danger mr-2"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body mt-1">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Phòng ban</th>
                  <th>Người đăng ký</th>
                  <th>Người duyệt</th>
                  <th>Mã sản phẩm</th>
                  <th>Tên sản phẩm</th>
                  <th>Số lượng</th>
                  <th>Ngày đăng ký</th>
                  <th>Ngày duyệt</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let receive of receives;let i = index">
                  <td>{{receive.depID}}</td>
                  <td>{{receive.userID}}</td>
                  <td>{{receive.accept_ID}}</td>
                  <td>{{receive.productID}}</td>
                  <td>{{receive.productName}}</td>
                  <td>{{receive.qty}}</td>
                  <td>{{receive.register_Date | date: "MM/dd/yyyy, h:mm:ss a"}}</td>
                  <td>{{receive.accept_Date | date: "MM/dd/yyyy, h:mm:ss a"}}</td>
                  <td class="font-table align-middle arow" style='white-space: nowrap'>
                    <button (click)="acceptReceive(receive.id)" class="btn btn-success">Duyệt</button>
                    <button (click)="delineReceive(receive.id)" class="btn btn-danger">Xóa</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="5">
        </pagination>
        </div>
      </div>
    </div>
  </div>
</div>