<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mb-0">
        <div class="card-header">
          <strong>{{ 'manager.Title' | translate }}</strong>
        </div>
        <form class="form-horizontal">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="receive ID"><strong
                  class="float-right">{{ 'manager.QrCode' | translate }}</strong></label>
              <div class="col-md-3">
                <input type="text" 
                [(ngModel)]="receiveID" 
                (ngModelChange)="getReceive($event)"
                name="receiveID"
                class="form-control" placeholder="{{ 'manager.InputQrCode' | translate }}">
              </div>
              <div class="col-md-3">
                <button (click)="clear()" class="btn btn-danger mr-2"><i class="fa fa-ban"></i> Clear</button>
              </div>
            </div>
          </div>
        </form>
        <div class="card-body mt-1">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>{{ 'manager.Table-column1' | translate }}</th>
                  <th>{{ 'manager.Table-column2' | translate }}</th>
                  <th>{{ 'manager.Table-column3' | translate }}</th>
                  <th>{{ 'manager.Table-column4' | translate }}</th>
                  <th>{{ 'manager.Table-column5' | translate }}</th>
                  <th>{{ 'manager.Table-column6' | translate }}</th>
                  <th>{{ 'manager.Table-column7' | translate }}</th>
                  <th>{{ 'manager.Table-column8' | translate }}</th>
                  <th>{{ 'manager.Table-column9' | translate }}</th>
                  <th>{{ 'manager.Table-column10' | translate }}</th>
                  <th>{{ 'manager.Table-column11' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let receive of receives;let i = index">
                  <td>{{ i + 1}}</td>
                  <td>{{receive.depID}}</td>
                  <td>{{receive.userID}}</td>
                  <td>{{receive.id}}</td>
                  <td>{{receive.accept_ID}}</td>
                  <td>{{receive.productID}}</td>
                  <td>{{receive.productName}}</td>
                  <td>{{receive.qty}}</td>
                  <td>{{receive.register_Date | date: "MM/dd/yyyy, h:mm:ss a"}}</td>
                  <td>{{receive.accept_Date | date: "MM/dd/yyyy, h:mm:ss a"}}</td>
                  <td class="font-table align-middle arow" style='white-space: nowrap'>
                    <button (click)="acceptReceive(receive.id)" class="btn btn-success ml-1">Yes</button>
                    <button (click)="delineReceive(receive.id)" class="btn btn-danger">No</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [(ngModel)]="pagination.currentPage"
          [itemsPerPage]="pagination.itemsPerPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [maxSize]="5">
        </pagination>
        </div>
      </div>
    </div>
  </div>
</div>